@mixin boldTxt {
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

@mixin flexAlienedCenter {
  display: flex;
  align-items: center;
}

.filmPoster {
  @include flexAlienedCenter;
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 20px;
}

.filmPoster::after {
  content: "";
  background-image: url("https://image.tmdb.org/t/p/w500/wwFBRyekDcKXJwP0mImRJjAnudL.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.movieImg {
  height: 330px;
  width: 220px;
  border-radius: 4px;
  margin-left: 30px;
  cursor: pointer;
  align-self: flex-start;
}

.filmDetails {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 30px;
}

.movieTitle {
  color: white;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: rgb(220, 220, 220);
  }
}

.releaseDate {
  opacity: 0.8;
  font-weight: 400;
}

.facts {
  @include flexAlienedCenter;
  color: white;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
}
.certificate {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  padding: 0.06em 4px 0.15em 4px;
  border-radius: 2px;
}

.filmOptionsDiv {
  @include flexAlienedCenter;
  margin-top: 20px;
}

.userScore {
  width: 50px;
  margin-left: 10px;
  color: white;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
}

.progressContainerInPoster {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.posterListItem {
  width: 46px !important;
  height: 46px !important;
  border-radius: 70px !important;
  @include flexAlienedCenter;
  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: #032541;
  cursor: pointer;
  margin-right: 15px;
}

.trailer {
  cursor: pointer;
  @include flexAlienedCenter;
  font-weight: 600;
  color: white;
  font-size: 16;
  font-family: "Source Sans Pro", Arial, sans-serif;
  &:hover {
    color: rgb(198, 198, 198);
  }
}

.tagline {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

.overview {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 5px;
}

.oveviewTxt {
  color: white;
  font-size: 1em;
}

.filmPersons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.personName {
  @include boldTxt;
  color: white;
}

.personName:hover {
  color: rgb(201, 201, 201);
}

.personRule {
  font-size: 0.9em;
  color: white;
}

.mainContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.cast {
  margin-left: 40px;
  width: calc(100% - 340px);
}

.castHeader {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.customCarosel {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
  &::-webkit-scrollbar {
    height: 10px; /* height of horizontal scrollbar ← You're missing this */
    border: 10px solid #d5d5d5;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2;
    background: #eeeeee;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    height: 10px;
    background: #b0b0b0;
  }
}
.singleCast {
  flex: 0 0 140px;
  display: flex;
  flex-direction: column;
  height: 270px;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19);
  margin-right: 25px;
}

.castFooter {
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    color: rgb(130, 130, 130);
  }
}

.castImg {
  height: 175px;
  width: 140px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.castName {
  @include boldTxt;
  color: black;
  margin: 0;
  &:hover {
    color: rgb(201, 201, 201);
  }
}

.castNameInFilm {
  margin: 0;
}

.episodes {
  font-size: 13px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
